In [100]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [111]:
# Convert 'DateTime' column to datetime format

data = pd.read_csv('../data/20231202 Lijn 1 afgelopen maand sample per 5 seconden.csv', delimiter=';', parse_dates=['DateTime'], infer_datetime_format=True)

# Replace comma with dot and convert 'OUT' column to numeric
data['OUT'] = data['OUT'].str.replace(',', '.').astype(float)

# Aggregate 'OUT' values on a daily basis
data['Date'] = data['DateTime'].dt.date  # Extract date from DateTime
daily_out = data.groupby('Date')['OUT'].mean()  # You can choose a different aggregation function (e.g., sum, median, etc.)

# Plotting 'OUT' over time (daily)
plt.figure(figsize=(10, 6))
plt.plot(daily_out.index, daily_out.values, marker='o', linestyle='-')
plt.title('Average OUT per Day')
plt.xlabel('Date')
plt.ylabel('Average OUT')
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

C:\Users\Xanh\AppData\Local\Temp\ipykernel_7772\3725924750.py:4: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data2 = pd.read_csv('../data/20231202 Lijn 1 settings definitief.csv', delimiter=';', parse_dates=['DateTime'], infer_datetime_format=True)
C:\Users\Xanh\AppData\Local\Temp\ipykernel_7772\3725924750.py:7: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data2['DateTime'] = pd.to_datetime(data2['DateTime'], infer_datetime_format=True, errors='coerce')

,"MESQuality,Density_Max","Extruder,AltBom",DietCode,Density_Min,Density_Target,OUT,"PID,PV",SP,ISO8601_DateTime
0,560,011-00,BK24086M,496,528,54,9000,9000,2023-12-02T12:00:00
1,472,011-00,BK24705M,408,440,38,7000,7000,2023-12-02T12:00:00
2,432,011-00,BK25036M,368,400,61,9500,9500,2023-12-02T12:00:00
3,432,021-00,BK25352M,368,400,48,7700,7700,2023-12-02T12:00:00
4,432,021-00,BK25529M,368,400,55,8000,8000,2023-12-02T12:00:00

In [102]:
for column in data.columns:
    unique_counts = data[column].value_counts()
    print(f"Column: {column}")
    print(unique_counts)
    print(f"Number of unique values: {len(unique_counts)}")
    print()

Column: DateTime
DateTime
2023-11-06 09:43:16    1
2023-11-23 09:43:26    1
2023-11-23 09:42:26    1
2023-11-23 09:42:31    1
2023-11-23 09:42:36    1
                      ..
2023-11-15 00:15:26    1
2023-11-15 00:15:31    1
2023-11-15 00:15:36    1
2023-11-15 00:15:41    1
2023-12-01 19:50:16    1
Name: count, Length: 244629, dtype: int64
Number of unique values: 244629

Column: MESQuality,Density_Max
MESQuality,Density_Max
464    71372
488    58313
416    23780
560    20985
448    20520
472    19926
432    18076
408    11657
Name: count, dtype: int64
Number of unique values: 8

Column: AltBom
AltBom
011-00    215065
021-00     29564
Name: count, dtype: int64
Number of unique values: 2

Column: DietCode
DietCode
BK27276M    23600
BK34568M    20177
BK27078M    16774
BK27073M    14912
BK28011M    12993
BK32348M    11685
BK25635M    10603
BK25634M    10552
BK34898M    10476
BK24705M     9333
BK32543M     9190
BK29847M     8647
BK34182M     8582
BK25352M     8184
BK33187M     8138
BK32924M     7519
BK25529M     5907
BK32715M     4894
BK34683M     4604
BK27404M     4555
BK25831M     4481
BK34827M     4428
BK27565M     4263
BK34390M     4163
BK25036M     3987
BK24086M     3659
BK34513M     3199
BK28322M     2628
BK33725M     2496
Name: count, dtype: int64
Number of unique values: 29

Column: ProdOrderNum
ProdOrderNum
9871597    14401
9871167     9486
9869735     9063
9870774     8582
9871066     8184
9871766     7518
9871890     7260
9871431     6617
9870592     6596
9869926     6515
9869739     6119
9870870     5907
9870665     5849
9869868     5776
9871656     5758
9871259     5733
9871055     5449
9871768     5400
9870430     5356
9871799     5247
9870518     5170
9869983     5152
9870470     4956
9871063     4894
9870684     4708
9869870     4708
9870131     4604
9871531     4555
9871529     4481
9869986     4428
9871629     4377
9871288     4357
9869843     4263
9870473     4184
9869985     4163
9870521     3997
9871326     3987
9871670     3954
9870128     3939
9869731     3659
9871838     3522
9871204     3432
9869737     3199
9871377     2628
9871374     2496
Name: count, dtype: int64
Number of unique values: 45

Column: Density_Min
Density_Min
400    71372
424    58313
352    23780
496    20985
384    20520
408    19926
368    18076
344    11657
Name: count, dtype: int64
Number of unique values: 8

Column: Target
Target
432    71372
456    58313
384    23780
528    20985
416    20520
440    19926
400    18076
376    11657
Name: count, dtype: int64
Number of unique values: 8

Column: OUT
OUT
0.000000     2624
25.000000    1121
40.636486      87
55.436687      79
48.935600      76
             ...
39.138256       1
39.218071       1
38.995266       1
38.993290       1
64.861870       1
Name: count, Length: 166683, dtype: int64
Number of unique values: 166683

Column: PV
PV
7007,8564453125     100
6973,4716796875      93
10024,31640625       93
6982,6611328125      92
6969,7939453125      88
                   ...
8519,1015625          1
8399,666015625        1
8594,712890625        1
8463,7109375          1
40,1636505126953      1
Name: count, Length: 43960, dtype: int64
Number of unique values: 43960

Column: SP
SP
7000     52790
10000    41873
8000     38501
8800     31408
6500     21012
9000     19528
8500     17310
7700      8184
9500      6134
7500      4190
0         2061
9250      1638
Name: count, dtype: int64
Number of unique values: 12

Column: Date
Date
2023-11-28    16988
2023-11-30    16610
2023-11-22    16550
2023-11-21    16206
2023-11-09    15967
2023-11-16    15917
2023-11-29    15758
2023-11-14    15518
2023-11-08    15077
2023-11-07    14816
2023-11-15    14485
2023-11-23    14406
2023-12-01    13405
2023-11-10    12504
2023-11-27    10329
2023-11-20     9391
2023-11-06     7224
2023-11-17     3222
2023-11-13      256
Name: count, dtype: int64
Number of unique values: 19

In [103]:
data = pd.read_csv('../data/20231202 Lijn 1 afgelopen maand sample per 5 seconden.csv', delimiter=';', parse_dates=['DateTime'], infer_datetime_format=True)


# Convert 'OUT' column to numeric
data['OUT'] = pd.to_numeric(data['OUT'].str.replace(',', '.'))  # Replace comma with dot and convert to numeric

# Calculate IQR and potential outliers
Q1 = data['OUT'].quantile(0.25)
Q3 = data['OUT'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data['OUT'] < lower_bound) | (data['OUT'] > upper_bound)]
print("Number of outliers:", len(outliers))
print("Outliers:", outliers)

C:\Users\Xanh\AppData\Local\Temp\ipykernel_7772\1135566744.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv('../data/20231202 Lijn 1 afgelopen maand sample per 5 seconden.csv', delimiter=';', parse_dates=['DateTime'], infer_datetime_format=True)

Number of outliers: 2628
Outliers:                   DateTime  MESQuality,Density_Max  AltBom  DietCode  \
0      2023-11-06 09:43:16                     448  011-00  BK27073M
1      2023-11-06 09:43:21                     448  011-00  BK27073M
2      2023-11-06 09:43:26                     448  011-00  BK27073M
3      2023-11-06 09:43:31                     448  011-00  BK27073M
4      2023-11-06 09:43:36                     448  011-00  BK27073M
...                    ...                     ...     ...       ...
237406 2023-12-01 09:48:26                     488  011-00  BK28011M
237407 2023-12-01 09:48:31                     488  011-00  BK28011M
237408 2023-12-01 09:48:36                     488  011-00  BK28011M
237409 2023-12-01 09:48:41                     488  011-00  BK28011M
237410 2023-12-01 09:48:46                     488  011-00  BK28011M

        ProdOrderNum  Density_Min  Target  OUT                PV  SP
0            9869735          384     416  0.0  7,86367082595825   0
1            9869735          384     416  0.0  7,86367082595825   0
2            9869735          384     416  0.0  7,86367082595825   0
3            9869735          384     416  0.0  7,86367082595825   0
4            9869735          384     416  0.0  7,86367082595825   0
...              ...          ...     ...  ...               ...  ..
237406       9871890          424     456  0.0   27,288631439209   0
237407       9871890          424     456  0.0  11,2822246551514   0
237408       9871890          424     456  0.0  27,2985992431641   0
237409       9871890          424     456  0.0  9,18923282623291   0
237410       9871890          424     456  0.0   3,6776864528656   0

[2628 rows x 10 columns]

In [104]:
data = data[(data['OUT'] >= lower_bound) & (data['OUT'] <= upper_bound)]

data.head()

,DateTime,"MESQuality,Density_Max",AltBom,DietCode,ProdOrderNum,Density_Min,Target,OUT,PV,SP
15,2023-11-06 09:44:31,448,011-00,BK27073M,9869735,384,416,54.000000,"24,1491432189941",8500
16,2023-11-06 09:44:36,448,011-00,BK27073M,9869735,384,416,54.000000,"1493,91796875",8500
17,2023-11-06 09:44:41,448,011-00,BK27073M,9869735,384,416,54.000000,"6238,9912109375",8500
18,2023-11-06 09:44:46,448,011-00,BK27073M,9869735,384,416,54.000000,"7779,3740234375",8500
19,2023-11-06 09:44:51,448,011-00,BK27073M,9869735,384,416,54.043789,"8244,2568359375",8500

In [105]:
# Convert 'DateTime' column to datetime format with inferred format
data['DateTime'] = pd.to_datetime(data['DateTime'], infer_datetime_format=True, errors='coerce')

# Convert to ISO 8601 format
data['ISO8601_DateTime'] = data['DateTime'].dt.strftime('%Y-%m-%dT%H:%M:%S')


data = data.drop('DateTime', axis=1)
data.head()

C:\Users\Xanh\AppData\Local\Temp\ipykernel_7772\3403708256.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data['DateTime'] = pd.to_datetime(data['DateTime'], infer_datetime_format=True, errors='coerce')

,"MESQuality,Density_Max",AltBom,DietCode,ProdOrderNum,Density_Min,Target,OUT,PV,SP,ISO8601_DateTime
15,448,011-00,BK27073M,9869735,384,416,54.000000,"24,1491432189941",8500,2023-11-06T09:44:31
16,448,011-00,BK27073M,9869735,384,416,54.000000,"1493,91796875",8500,2023-11-06T09:44:36
17,448,011-00,BK27073M,9869735,384,416,54.000000,"6238,9912109375",8500,2023-11-06T09:44:41
18,448,011-00,BK27073M,9869735,384,416,54.000000,"7779,3740234375",8500,2023-11-06T09:44:46
19,448,011-00,BK27073M,9869735,384,416,54.043789,"8244,2568359375",8500,2023-11-06T09:44:51

In [106]:
data['ISO8601_DateTime'] = pd.to_datetime(data['ISO8601_DateTime'])

data['Year'] = data['ISO8601_DateTime'].dt.year
data['Month'] = data['ISO8601_DateTime'].dt.month
data['Day'] = data['ISO8601_DateTime'].dt.day
data['Hour'] = data['ISO8601_DateTime'].dt.hour
data['Minute'] = data['ISO8601_DateTime'].dt.minute
data['Second'] = data['ISO8601_DateTime'].dt.second

data.head()

,"MESQuality,Density_Max",AltBom,DietCode,ProdOrderNum,Density_Min,Target,OUT,PV,SP,ISO8601_DateTime,Year,Month,Day,Hour,Minute,Second
15,448,011-00,BK27073M,9869735,384,416,54.000000,"24,1491432189941",8500,2023-11-06 09:44:31,2023,11,6,9,44,31
16,448,011-00,BK27073M,9869735,384,416,54.000000,"1493,91796875",8500,2023-11-06 09:44:36,2023,11,6,9,44,36
17,448,011-00,BK27073M,9869735,384,416,54.000000,"6238,9912109375",8500,2023-11-06 09:44:41,2023,11,6,9,44,41
18,448,011-00,BK27073M,9869735,384,416,54.000000,"7779,3740234375",8500,2023-11-06 09:44:46,2023,11,6,9,44,46
19,448,011-00,BK27073M,9869735,384,416,54.043789,"8244,2568359375",8500,2023-11-06 09:44:51,2023,11,6,9,44,51

In [107]:
data = data.drop('ISO8601_DateTime', axis=1)
data = data.drop('ProdOrderNum', axis=1)


encoded_data = pd.get_dummies(data, columns=['DietCode', 'AltBom'])

encoded_data.head()

,"MESQuality,Density_Max",Density_Min,Target,OUT,PV,SP,Year,Month,Day,Hour,...,DietCode_BK33725M,DietCode_BK34182M,DietCode_BK34390M,DietCode_BK34513M,DietCode_BK34568M,DietCode_BK34683M,DietCode_BK34827M,DietCode_BK34898M,AltBom_011-00,AltBom_021-00
15,448,384,416,54.000000,"24,1491432189941",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
16,448,384,416,54.000000,"1493,91796875",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
17,448,384,416,54.000000,"6238,9912109375",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
18,448,384,416,54.000000,"7779,3740234375",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
19,448,384,416,54.043789,"8244,2568359375",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False

In [108]:
encoded_data.to_csv("../data/20231202 Lijn 1 afgelopen maand traindata-xanh.csv", index=False, sep=";", decimal=",")