In [26]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [27]:
data2 = pd.read_csv('../data/20231202 Lijn 1 settings definitief.csv', delimiter=';', parse_dates=['DateTime'], infer_datetime_format=True)

# Convert 'DateTime' column to datetime format with inferred format
data2['DateTime'] = pd.to_datetime(data2['DateTime'], infer_datetime_format=True, errors='coerce')

# Convert to ISO 8601 format
data2['ISO8601_DateTime'] = data2['DateTime'].dt.strftime('%Y-%m-%dT%H:%M:%S')


data2 = data2.drop('DateTime', axis=1)
data2.head()

C:\Users\Xanh\AppData\Local\Temp\ipykernel_9852\529452757.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data2 = pd.read_csv('../data/20231202 Lijn 1 settings definitief.csv', delimiter=';', parse_dates=['DateTime'], infer_datetime_format=True)
C:\Users\Xanh\AppData\Local\Temp\ipykernel_9852\529452757.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data2['DateTime'] = pd.to_datetime(data2['DateTime'], infer_datetime_format=True, errors='coerce')

,"MESQuality,Density_Max",AltBom,DietCode,Density_Min,Target,OUT,PV,SP,ISO8601_DateTime
0,560,011-00,BK24086M,496,528,54,9000,9000,2023-12-02T12:00:00
1,472,011-00,BK24705M,408,440,38,7000,7000,2023-12-02T12:00:00
2,432,011-00,BK25036M,368,400,61,9500,9500,2023-12-02T12:00:00
3,432,021-00,BK25352M,368,400,48,7700,7700,2023-12-02T12:00:00
4,432,021-00,BK25529M,368,400,55,8000,8000,2023-12-02T12:00:00

In [28]:
data2 = data2.drop('ISO8601_DateTime', axis=1)

encoded_data = pd.get_dummies(data2, columns=['DietCode', 'AltBom'])

encoded_data.head()

,"MESQuality,Density_Max",Density_Min,Target,OUT,PV,SP,DietCode_BK24086M,DietCode_BK24705M,DietCode_BK25036M,DietCode_BK25352M,...,DietCode_BK33725M,DietCode_BK34182M,DietCode_BK34390M,DietCode_BK34513M,DietCode_BK34568M,DietCode_BK34683M,DietCode_BK34827M,DietCode_BK34898M,AltBom_011-00,AltBom_021-00
0,560,496,528,54,9000,9000,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,472,408,440,38,7000,7000,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
2,432,368,400,61,9500,9500,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,432,368,400,48,7700,7700,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
4,432,368,400,55,8000,8000,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [29]:
data1 = pd.read_csv('../data/20231202 Lijn 1 afgelopen maand traindata-xanh.csv', delimiter=';')

data1.head()

,"MESQuality,Density_Max",Density_Min,Target,OUT,PV,SP,Year,Month,Day,Hour,...,DietCode_BK33725M,DietCode_BK34182M,DietCode_BK34390M,DietCode_BK34513M,DietCode_BK34568M,DietCode_BK34683M,DietCode_BK34827M,DietCode_BK34898M,AltBom_011-00,AltBom_021-00
0,448,384,416,"54,0","24,1491432189941",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
1,448,384,416,"54,0","1493,91796875",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
2,448,384,416,"54,0","6238,9912109375",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
3,448,384,416,"54,0","7779,3740234375",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False
4,448,384,416,"54,0437889099121","8244,2568359375",8500,2023,11,6,9,...,False,False,False,False,False,False,False,False,True,False

In [30]:
if set(encoded_data.columns) == set(data1.columns):
    print("Both DataFrames have the same column names.")
else:
    print("The column names in the DataFrames are different.")

The column names in the DataFrames are different.